---
- name: Ping host
  ping:

- name: Install podman
  dnf:
    name: podman
    state: latest

- name: Install python3
  dnf:
    name: python3
    state: latest

- name: Install firewalld
  dnf:
    name: firewalld
    state: latest

